<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Gold Jewellery Valuers/Appraisers</title>
  <link rel="shortcut icon" href="images/favicon.png" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"
    type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
  <link rel="stylesheet" type="text/css" href="css/flexslider.css " />
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
  <!--[if lt IE 8]><!-->
  <link rel="stylesheet" href="ie7/ie7.css">
  <!--<![endif]-->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
  <header>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            Gold Jewellery <span>Valuers/Appraisers</span>
          </a>
          <p>Call Us Now <b>+91 98498177359</b></p>
        </div>
      
          <a href="https://api.whatsapp.com/send/?phone=9198498177359&text=I%20am%20interested%20in%20gold%20jewellery%20valuation.&app_absent=0"
          target="_blank">
          <div id="wa-widget-send-button">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="wa-messenger-svg-whatsapp wh-svg-icon"><path d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd"></path></svg>
            <div style="color: white; font-size: 18px">Message Us</div>
        </div>
        </a>
        
      </div>
    </nav>
  </header>

  <div class="clear"></div>
  <div id="page-content">
    <section class="flexslider">
      <ul class="slides">
        <li>
          <img src="images/rings.jpg" />
          <div class="slide-info">
            <div class="slide-con">
              <b>Govt. of India Approved</b>
              <h3>Gold Jewellery Valuers</h3>
              <p>Certified & Authorised Gold Jewellery Valuers/Appraisers</p>
              <!-- <a href="#" class="ti-arrow-right"></a> -->
            </div>
          </div>
        </li>
        <!-- <li>
          <img src="images/slider-img1.jpg" />
          <div class="slide-info">
            <div class="slide-con">
              <b>Lifecare</b>
              <h3>Life Insurance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue
                leo pharetra in.</p>
              <a href="#" class="ti-arrow-right"></a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/slider-img2.jpg" />
          <div class="slide-info">
            <div class="slide-con">
              <b>Healthcare</b>
              <h3>Travel Insurance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue
                leo pharetra in.</p>
              <a href="#" class="ti-arrow-right"></a>
            </div>
          </div>
        </li> -->
      </ul>
    </section>
    <div class="container">
      <div class="row">
        <section class="col-sm-7 col-md-8 col-lg-8">
          <div class="intro">
            <h2>Welcome to Gold Jewellery Valuers/Appraisers</h2>
            <p>We are Government of India Approved & Certified Gold Jewellery Valuers/Appraisers. For Customs, Visa,
              Jewellery Insurance, Wealth Tax , Income tax, Capital Gain Tax, or any other Purposes </p>
            <ul class="row">
              <li class="col-sm-4">
                <i class="fa fa-life-ring"></i>
                <h3>
                  Authorised by Government of India </h3>
                <p>Registered & Appointed Gold Jewellery Valuers</p>
              </li>
              <li class="col-sm-4">
                <i class="ti-marker-alt"></i>
                <h3>Quick Valuation</h3>
                <p>For Customs, Visa, Jewellery Insurance, Wealth Tax , Income tax, Capital Gain Tax.</p>
              </li>
              <li class="col-sm-4">
                <i class="ti-email"></i>
                <h3>Jewellry Valuation Report</h3>
                <p>Contact us for All Purpose Jewellery Valuation</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="col-sm-5 col-md-4 col-lg-4">
          <div class="get-quote-form">
            <h2>Jewellery Valuation</h2>
            <form id="get-quote">
              <div>
                <input type="text" name="name" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" name="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" name="ph-no" placeholder="Phone no" />
              </div>
              <div>
                <textarea rows="1" cols="1" placeholder="Message"></textarea>
              </div>
              <div class="text-center">
                <button class="btn-default" value="" >  <a href="https://api.whatsapp.com/send/?phone=9198498177359&text=I%20am%20interested%20in%20gold%20jewellery%20valuation.&app_absent=0"
                  target="_blank" style="text-decoration: none; color: beige;">Get Free Estimate</a></button>
                
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
    <section class="product-tab">
      <div class="container">
        <div class="row">
          <div id="parentVerticalTab">
            <h2>Our Services</h2>
            <ul class="resp-tabs-list hor_1 col-sm-3 col-md-3 col-lg-3">
              <li><i class="ti-home"></i> Customs Purpose</li>
              <li><i class="fa fa-plane"></i>Visa Purpose</li>
              <li><i class="ti-heart-broken"></i>Jewellery Insurance</li>
              <li><i class="ti-car"></i> Capital Gain Tax</li>
              <li><i class="ti-car"></i> Wealth Tax</li>
              <li><i class="ti-car"></i> Income Tax</li>
            </ul>
            <div class="col-sm-5 col-md-5 col-lg-5 resp-tabs-container hor_1">
              <div>
                <div class="prod-tab-content">
                  <h4>
                    <span class="prod-cion"><i class="ti-home"></i></span>
                    Customs Purpose
                  </h4>
                  <p>Customs Gold Jewellery Valuation Certificate Government Approved Gold Jewellery Valuers
                  </p>
                  <p class="tel">
                    <i class="fa fa-phone"></i> +91 9849817735 <span></span>
                  </p>
                  <p>
                    <a class="btn-default" href="tel:919849817735">Call Us</a>
                  </p>
                </div>
                <img src="images/product-img.jpg" alt="" class="img-responsive" />
              </div>
              <div>
                <div class="prod-tab-content">
                  <h4>
                    <span class="prod-cion"><i class="fa fa-plane"></i></span>
                    Visa Purpose
                  </h4>
                  <p>Visa Financial Funds Gold Jewellery Valuation Certificate Government Approved Gold Jewellery
                    Valuers.</p>
                  <p class="tel">
                    <i class="fa fa-phone"></i> +91 9849817735 <span></span>
                  </p>
                  <p>
                    <a class="btn-default" href="#">Call Us</a>
                  </p>
                </div>
                <img src="images/visa.jpeg" alt="" class="img-responsive" />
              </div>
              <div>
                <div class="prod-tab-content">
                  <h4>
                    <span class="prod-cion"><i class="ti-heart-broken"></i></span>
                    Jewellery Insurance
                  </h4>
                  <p>Gold Jewellery Insurance Certificate Government Approved Gold Jewellery Valuers </p>
                  <p class="tel">
                    <i class="fa fa-phone"></i> +91 9849817735 <span></span>
                  </p>
                  <p>
                    <a class="btn-default" href="#">Call Us</a>
                  </p>
                </div>
                <img src="images/jins.jpeg" alt="" class="img-responsive" />
              </div>
              <div>
                <div class="prod-tab-content">
                  <h4>
                    <span class="prod-cion"><i class="ti-car"></i></span>
                    Capital Gain Tax Purpose
                  </h4>
                  <p>Capital Gain Tax God Jewellery Valuation Certificate Government Approved Gold Jewellery Valuers
                  </p>
                  <p class="tel">
                    <i class="fa fa-phone"></i> +91 9849817735 <span></span>
                  </p>
                  <p>
                    <a class="btn-default" href="#">Call Us</a>
                  </p>
                </div>
                <img src="images/cpgain.jpeg" alt="" class="img-responsive" />
              </div>
              <div>
                <div class="prod-tab-content">
                  <h4>
                    <span class="prod-cion"><i class="ti-car"></i></span>
                    Wealth Tax Purpose
                  </h4>
                  <p>Wealth Tax Gold Jewellery Valuation Certificate Government Approved Gold Jewellery Valuers </p>
                  <p class="tel">
                    <i class="fa fa-phone"></i> +91 9849817735 <span></span>
                  </p>
                  <p>
                    <a class="btn-default" href="#">Call Us</a>
                  </p>
                </div>
                <img src="images/wtax.jpeg" alt="" class="img-responsive" />
              </div>
              <div>
                <div class="prod-tab-content">
                  <h4>
                    <span class="prod-cion"><i class="ti-car"></i></span>
                    Income Tax Purpose
                  </h4>
                  <p>Income Tax Gold Jewellery Valuation Certificate Government Approved Gold Jewellery Valuers </p>
                  <p class="tel">
                    <i class="fa fa-phone"></i> +91 9849817735 <span></span>
                  </p>
                  <p>
                    <a class="btn-default" href="#">Call Us</a>
                  </p>
                </div>
                <img src="images/itax.jpeg" alt="" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="recent-news">
    
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="text-center"><b>Attention Please </b></h2>
                  <div class="news-sec-box">
                      <h3>When you go abroad,
                        If you are carrying more than 40 grams  of gold jewelry, you
                        A few days before going abroad
                        Valuation report for your jewelery should be taken from Government Approval Jewelery Value.  This jewelry
                        Valuation report the day before you go abroad before boarding
                        To the customs at the airport
                        Customs will give you an "Export Certificate" if you go and show this jewelry valuation report.  In this way
                        You must carry an "Export Certificate" when traveling abroad.</h3>
                      <p> Contact me a few days before going abroad for other details.</p>
                      <h5>We will come to your home and provide our service.</h5>
                      <div class="news-by">
                          <a href="tel:919849817735">Vijay Kumar</a>
                          <a href="tel:919849817735">Cell No: +919849817735</a>
                          <p>Government Approval Jewelery Value</p>
                      </div>
                      <h6>Please save my number
                        And this message to your WhatsApp groups
                        Share in
                        Thank you.🙏</h6>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <h2 class="text-center"><b>దయచేసి దృష్టి పెట్టండి</b></h2>
                  <div class="news-sec-box">
                      <h3>మీరు విదేశాలకు వెళుతున్నప్పుడు,
                        మీరు 40 గ్రాముల కంటే ఎక్కువ బంగారు ఆభరణాలను తీసుకువెళుతుంటే, మీరు
                        విదేశాలకు వెళ్లే కొన్ని రోజుల ముందు
                        గవర్నమెంట్ అప్రూవల్ జ్యువెలరీ వాల్యూర్  దగ్గర మీ ఆభరణాల కు వాల్యుయేషన్ రిపోర్ట్ తీసుకోవాలి .  ఈ జ్యువెలరీ
                        వాల్యుయేషన్ రిపోర్ట్  నీ  మీరు విదేశాలకు వెళ్లే రోజు బోర్డింగ్ ముందు
                        విమానాశ్రయంలోని కస్టమ్స్ వాళ్ల దగ్గరకు
                        వెళ్లి ఈ జ్యువెలరీ వాల్యుయేషన్ రిపోర్ట్  నీ చూపిస్తే  కస్టమ్స్ వాళ్ళు మీకు ఒక "ఎక్స్పోర్ట్  సర్టిఫికేట్" ఇస్తారు . ఈ విధంగా  
                        మీరు విదేశాలకు వెళుతున్నప్పుడు తప్పనిసరిగా "ఎక్స్పోర్ట్  సర్టిఫికేట్" తీసుకొని వెళ్ళాలి .</h3>
                      <p>ఇతర వివరాలకు విదేశాలకు వెళ్లే కొన్ని రోజుల ముందు నన్ను సంప్రదించండి .</p>
                      <h5>మేము మీ ఇంటికి వచ్చి మా సర్వీసు ను అందిస్తాము .</h5>
                      <div class="news-by">
                          <a href="#">  నేను విజయ్ కుమార్</a>
                          <a href="tel:919849817735"> సెల్ నెం: +919849817735</a>
                      </div>
                      <p>గవర్నమెంట్ అప్రూవల్ జ్యువెలరీ వాల్యూర్</p>
                      <h6> దయచేసి నా నంబర్‌ను సేవ్ చేయండి
                         మరియు ఈ మెసేజ్ ని మీ వాట్సాప్ గ్రూప్స్
                         లో షేర్ చేయండి.
                        ధన్యవాదాలు.🙏
                      </h6>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  <div class="clear"></div>
  <footer>
    <div class="container">
      <div class="row contact-sec">
        <div class="col-md-5 col-lg-5">
          <h2>Vijay<span>Kumar</span></h2>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li><a href="#"><i class="fa fa-phone"></i> +91 9849817735</a></li>
                <!-- <li><a href="#"><i class="ti-email"></i> info@bootstrapmart.com</a></li> -->
              </ul>
              <!-- <p>Service Availability
                <ul>
                  <li>all over Hyderabad city</li>
                  <li>all over Telangana State</li>
                  <li>all over Andhra pradesh State</li>
                  <li>Banglore City</li>
                  <li>Mumbai city</li>
                  <li>Chennai City</li>
                </ul>
              </p> -->
            </div>
            <div class="col-sm-6">

            </div>
          </div>
          <a href="#" class="btn-default">Contact Us</a>
        </div>
        <div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
          <h2>Service <span>Availability</span></h2>
          <div class="col-sm-6">
              <ul>
                <li>all over Hyderabad city</li>
                <li>all over Telangana State</li>
                <li>all over Andhra pradesh State</li>
                <li>Banglore City</li>
                <li>Mumbai city</li>
                <li>Chennai City</li>
              </ul>
      
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <ul class="footer-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">Services</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
          <ul class="footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="https://techpranee.com/">TechPranee</a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 text-right">
            <a href="#">Terms & Conditions</a>
            <a href="#">Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/easyResponsiveTabs.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>